{% extends 'base.html' %}
<!--  -->
{% block title %}
<h1 class="display-1 text-center">Our Pets</h1>
{% endblock %}
<!--  -->
{% block content %}

<div class="container">

	<div class="list-parent">
		{% for pet in pets %}

		<div class="">
			<img class="w-50" src="{{pet.photo()}}" alt="stock img of {{pet.species}}" />
			<p>{{pet.name}}</p>
			<p>
				Available: {% if pet.available == True %}
				<span class="text-success">&check;</span>
				{% else %}
				<span class="text-danger">&times;</span>
				{% endif %}
			</p>
			<p><a class="btn btn-sm btn-info" href="/{{pet.id}}">Details</a></p>
		</div>
		{% endfor %}
	</div>
	<a href="/add" class="mt-4 btn btn-success">Add a Pet!</a>
</div>
{% endblock %}
